 nav, .contenedor, .piepagina, header, .principal{
     max-width: 95%;
     border-radius: 0.5em; 
     margin: auto;
     text-align: center; 
     
 }
    header{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(240,180,51);
            margin: auto;
            text-align: center;
         }
           .principal{
            display: inline-block;
            width: 75%;
            text-align: center;    
            }   
    
    nav {
            background-color: rgb(179,179,179);            
        }
        .contenedor {
            background-color: rgb(179,179,179);
            margin: auto;
            
        }
        .piepagina{            
            color: white;
            background-color: rgb(0,88,131);
            text-align: center;
            margin: auto;             
        }
        .articuloppal{
            font-family: 'Franklin Gothic Medium';
            background-color: rgb(244,151,32);
            display: inline-block;
            text-align: left;
        }
        aside{          
            background-color: gainsboro;
            display: inline-block;
            text-align: center;
            width: 24.7%;  
            border-radius: 0.3em;           
        }
    /*Menu*/
    .menu li {
       display: inline-block;
    }
    li a, btnDesplegable {
        display: inline-block;
        color: black;
        padding: 0.9em 1em;
        text-align: center;
        text-decoration: none;
    }
    .contenidoDesplegable{
        display: none;
        position: absolute;
        background-color: blanchedalmond;
        min-width: 8em;
    }
    .contenidoDesplegable a{
        color: black;
        padding: 0.9em 1em;
        display:block ;
        text-align: left;
    }
    .contenidoDesplegable a:hover{
        background-color: grey;
    }
    .desplegable:hover .contenidoDesplegable{
        display: block;
    }


    
    li a, btnDesplegablevideo {
        display: inline-block;
        color: black;
        padding: 0.9em 1em;
        text-align: center;
        text-decoration: none;
    }
    .contenidoDesplegablevideo{
        display: none;
        position: absolute;
        background-color: blanchedalmond;
        min-width: 8em;
    }
    .contenidoDesplegablevideo a{
        color: black;
        padding: 0.9em 1em;
        display:block ;
        text-align: left;
    }
    .contenidoDesplegablevideo a:hover{
        background-color: grey;
    }
    .desplegablevideo:hover .contenidoDesplegablevideo{
        display: block;
    }
