 nav, .contenedor, .piepagina, header, .principal{
     max-width: 95%;  
     
 }
    header{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(240,180,51);
            margin: auto;
            text-align: center;
         }
           .principal{
            display: inline-block;
            width: 75%;
            text-align: center;    
            }   
    
    nav {
            background-color: rgb(128,128,128);
            margin: auto;
                    }

        .contenedor {
            background-color: rgb(179,179,179);
            margin: auto;
            
        }
        .piepagina{            
            color: white;
            background-color: rgb(0,88,131);
            text-align: center;
            margin: auto;
        }
        .articuloppal{
            font-family: 'Franklin Gothic Medium';
            background-color: rgb(244,151,32);
            display: inline-block;
            text-align: left;

        }
        aside{          
            background-color: gainsboro;
            display: inline-block;
            text-align: center;
            width: 24.7%;             
        }
        

        }
    