body{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;}
a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  margin: auto;
}
.row{
  display: flex;
}
.row.vertical-align{
  align-items: center;
}
/* Header */

header{ 
  background-color: #7AA8DC;
  display: inline-block;
  width: 100%;
}


.logo{
  width: 30%;
}
.logo a img{
  width: 80px;
  height: auto;
  margin-left: 15px;
}
.menu{
  list-style: none;
  color: #ffffff;
  width: 70%;
  display: flex;
  justify-content: end;
}
.menu li{
  position: relative;
  padding: 0 15px;
  text-transform: uppercase;
  
}
.menu li a{
  color: #ffffff;
  text-transform: uppercase;
}
.sub-menu{
  position: absolute;
  top: 42px;
  left:0px;
  display: none;
  list-style: none;
  color: #ffffff;
  background-color: #7AA8DC;
  opacity:0.8 ;
  padding: 15px;
  }
 .sub-menu li a{
   margin: 2px 0;
   display: inline-block;
 } 

.menu li:hover > .sub-menu{display: block;}
