body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: rgb(34, 37, 37);

}

a {
  text-decoration: none
}

.container {
  max-width: 1200px;
  margin: auto;
  
}
.container-2{
  padding: 0 5%;
}


.row {
  display: flex
}

.row.vertical-align {
  align-items: center
}

header {
  background-color: rgb(179,179,179);
  display: inline-block;
  width: 100%
}

.logo {
  width: 30%;
  padding: 8px 0
}

.logo a img {
  width: 80px;
  height: auto;
  margin-left: 15px
}

.menu {
  list-style: none;
  color: #fff;
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 0
}

.menu>li {
  position: relative;
  padding: 20px 15px;
  cursor: pointer
}

.menu li a,
.sub-menu {
  color: #fff
}

.sub-menu {
  position: absolute;
  top: 53px;
  left: 0;
  list-style: none;
  background-color: #7aa8dc;
  opacity: 0;
  padding: 15px;
  transition: .5s;
  visibility: hidden
}

.sub-menu li {
  padding: 5px
}

.sub-menu li a {
  margin: 2px 0;
  display: inline-block;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content
}

.menu li:hover>.sub-menu {
  display: block;
  opacity: 1;
  visibility: visible
}


footer {
  background-color: rgb(00, 88, 131);
  color: #fff;
  width: 100%;
  position: relative;
  
  margin-bottom: -10px;
  }

.footer-img {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center
}

.footer-img img {
  width: 35%
}

.footer-text {
  text-align: left;
  display: block;
  font-size: 16px;
  width: 50%
}

.content-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 5%
}

.footer-text p {
  line-height: 1em;
  margin: 0
}

/* contenido*/

.section-content{
  min-height: calc(100vh - 130px);
  display: flex;
  -webkit-text-stroke-width: thin;
}
.section-content .description{
  font-family: 'Franklin Gothic Medium';
  width: 75%;
  padding: 0 5%;
  text-align: justify;
}
.section-content aside {
  background-color: rgb(240,180,41);
  width: 25%;
  padding: 15px;
}

.aside-texto {
  background-color: rgb(240,180,41);
  display: flex;
  -webkit-text-stroke-width: thin;
  padding: 6px;
}

.aside-twiter {
  background-color: rgb(240,180,41);
  display: flex;
  text-align: center;
  padding: 6px;
  }

h1 {
  text-align: center;
  padding: 2%;
  ;
}


h2 {
  text-align: center;
  padding: 2%;
}
.styles-li{
list-style: none;
}
/*----------------------------Autores---------------------------------------------------------*/


.box-autor{
  width: 40%;
  background: mintcream;
	padding: 16px;
	text-align: center;
	margin:auto;
	margin-top: 5%;
	color:black;
  font-family: 'century gothic', sans-serif;
  box-shadow: 2px 4px 10px 0 rgba(0,0,0,.3);
}
.box-img{
	border-radius: 50%;
	width: 200px;
  height: 200px;
  object-fit: cover;
}
.box p{
	font-size: 20px;
	letter-spacing: 3px;
  font-weight: 100;
  text-align: justify;
}
.autor-content{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}


